.main-404 {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr auto auto auto auto 1fr;
  grid-gap: 12px;
  flex: 1 0 auto
}

.main-404 h4 {
  grid-row: 2 / 4;
  grid-column: 1 / 4;
  padding: 12px 6px;
  border-radius: 0 8px 8px 0;
  text-shadow: 1px 1px 4px #444444;
  border: 1px orangered solid;
  background: orange;
  color: #DDDDDD;
}

#img-cow-skull {
  width: 100%;
  height: 360px;
  grid-row: 3;
  grid-column: 2 / 5;
  border-radius: 4px 0 0 4px;
}
