.main-faq {
  flex: 1 0 auto;
}

.main-faq p {
  min-height: 48px;
  max-width: 720px;
  padding: 8px;
  font-size: 16px
}

.main-faq > p {
  margin: 16px auto
}

#div-faq-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

#div-faq-wrapper section {
  display: flex;
  flex-direction: column;
  width: 288px;
  margin: 8px;
  border-radius: 4px;
  border: 1px #555555 solid;
  background: #B5651D44;
  overflow: hidden
}

#ul-faq-list {
  width: 90%;
  max-width: 720px;
  margin: 24px auto;
  list-style: none;
  display: none
}

.li-faq-item {
  margin: 16px;
  padding: 16px;
  color: #333333;
  border-radius: 8px
}
.q {
  align-self: stretch;
  justify-self: stretch;
  background: #E59400
}

.a {
  flex: 1;
  align-self: stretch;
  justify-self: stretch;
  background: #CCCCCC
}
