.main-processing {
  flex: 1 0 auto;
  font-size: 18px
}

.main-processing h5 {
  text-align: center;
  margin: 16px auto
}

.main-processing p {
  width: 90%;
  max-width: 720px;
  margin: 32px auto;
  text-align: justify
}

#div-button-wrapper {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 320px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center
}

.input-cutsheet {
  margin: 4px;
  height: 80px;
  width: 128px;
  font-size: 18px;
  text-align: center
}

#img-barbed-wire {
  width: 75%;
  max-width: 360px;
  height: auto;
  margin: 8px auto;
  display: block
}

.main-processing .a-pdf-link:link,
.main-processing .a-pdf-link:visited {
  width: 120px;
  margin: 0 32px;
  color: #222222;
  background: goldenrod;
  border: 2px solid #777777;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.25s
}

.main-processing .a-pdf-link:hover,
.main-processing .a-pdf-link:active {
  background: orange
}