.main-contact{
  flex: 1 0 auto;
  background-image: url("../../assets/images/agriculture-back-light.jpg")
}

.main-contact p {
  width: 90%;
  max-width: 720px;
  margin: 24px auto;
  text-align: justify
}

.ul-contact {
  margin: 16px auto;
  padding: 8px;
  width: 288px;
  background: #DDDDDD;
  border: 2px #777777 solid;
  text-shadow: 1px 1px 8px #777777;
  border-radius: 4px;
  list-style: none;
  opacity: 0.90
}
