.main-home {
  flex: 1 0 auto;

}

#div-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, minmax(0, 32px));
  grid-gap: 32px;
}

.main-home section {
  grid-row: 3;
  grid-column: 1 / 4;
  align-self: flex-start;
  padding: 12px 6px;
  border: 2px #777700 solid;
  border-radius: 0 8px 8px 0;
  border-left: 0;
  text-shadow: 1px 1px 16px #444444;
  background: #FFFFBB;
  color: #222222;
  opacity: 0.75
}

#div-processing {
  height: 32px;
  padding: 8px;
  background: skyblue;
  border: 2px blue solid;
  border-radius: 4px;
  grid-row: 4;
  grid-column: 3;
  opacity: 0.8;
  text-align: center;
  align-self: flex-end;
  justify-self: center
}

#div-retail {
  height: 32px;
  padding: 8px;
  border: 2px blue solid;
  background: skyblue;
  border-radius: 4px;
  grid-row: 4;
  grid-column: 4;
  opacity: 0.8;
  text-align: center;
  align-self: flex-end;
  justify-self: center;
}

#div-corn-field {
  grid-row: 2 / 5;
  grid-column: 2 / 5;
  border: 0 #777777 solid;
  border-radius: 8px 0 0 8px;
  border-width: 2px 0 2px 2px;
  background: url(../../assets/images/corn-field.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}

.main-home p {
  width: 80%;
  max-width: 720px;
  margin: 24px auto;
  text-align: justify
}