.main-faq {
  flex: 1 0 auto;
  /* background-image: url("../../assets/images/agriculture-barley-field.jpg") */
}

.main-faq h2 {
  text-align: center;
  font-weight: bolder;
  text-decoration: underline
}

#ul-faq-list {
  width: 90%;
  max-width: 720px;
  margin: 24px auto;
  list-style: none;
}

.li-faq-item {
  margin: 16px;
  padding: 16px;
  color: #333333;
  background: #e4dd7f;
  border-radius: 8px
}

.main-faq p {
  width: 90%;
  max-width: 720px;
  margin: 24px auto
}