.main-processing {
  flex: 1 0 auto;
  font-size: 18px
}

.main-processing h5 {
  text-align: center;
  margin: 16px auto
}

.main-processing p {
  width: 90%;
  max-width: 720px;
  margin: 32px auto;
  text-align: justify
}

#div-button-wrapper {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 320px;
  margin: 8px auto;
  align-items: center;
  justify-content: center;
  text-align: center
}

.input-cutsheet {
  margin: 4px;
  height: 80px;
  width: 128px;
  font-size: 18px;
  text-align: center
}

#img-barbed-wire {
  width: 75%;
  max-width: 360px;
  height: auto;
  margin: 8px auto;
  display: block
}

.a-pdf-link {
  width: 144px;
  height: 36px;
  color: #BBBBBB;
  border: 2px solid #777777;
  text-decoration: none
}
