.main-home {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr auto auto auto auto 1fr;
  grid-gap: 12px;
}

.main-home section {
  grid-row: 2;
  grid-column: 1 / 4;
  padding: 12px 6px;
  border-radius: 0 8px 8px 0;
  text-shadow: 1px 1px 16px #444444;
  background: #DDDDDD;
  color: #222222;
  align-self: center;
  opacity: 0.9;
}

#img-corn-field {
  width: 100%;
  max-height: 100%;
  grid-row: 2 / 3;
  grid-column: 2 / 5;
  border-radius: 4px 0 0 4px;
}