.main-faq {
  flex: 1 0 auto;
  /* background-image: url("../../assets/images/agriculture-barley-field.jpg") */
}

.main-faq p {
  width: 90%;
  max-width: 720px;
  margin: 24px auto;
  font-size: 16px
}

#div-faq-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

#div-faq-wrapper section {
  width: 288px;
  margin: 8px;
  border-radius: 4px;
  border: 1px #9C593E solid;
  background: #B5651D44
}

#ul-faq-list {
  width: 90%;
  max-width: 720px;
  margin: 24px auto;
  list-style: none;
  display: none
}

.li-faq-item {
  margin: 16px;
  padding: 16px;
  color: #333333;
  background: #e4dd7f;
  border-radius: 8px
}
