.main-retail {
  flex: 1 0 auto;
  font-size: 18px
}

.img-barbed-wire {
  width: 75%;
  max-width: 360px;
  height: auto;
  margin: 8px auto;
  display: block
}

.main-retail p {
  width: 90%;
  max-width: 720px;
  margin: 16px auto
}

.main-retail section {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 90%;
  max-width: 640px;
  margin: 32px auto;
  box-shadow: #777777 1px 1px 2px;
  border: 2px #444444 solid;
  background: #B5651D44;
  border-radius: 8px;
  overflow: hidden
}

.main-retail h4 {
  grid-row: 1;
  grid-column: 1;
  width: 112px;
  align-self: center;
  text-align: center;
}

.main-retail ul {
  width: 100%;
  padding: 8px;
  justify-items: stretch;
  border-left: 2px #444444 solid;
  list-style: none;
  grid-column: 2;
  grid-row: 1;
}

.grid-cell-background {
  grid-row: 1;
  grid-column: 2;
  filter: sepia(1) opacity(0.2)
}

#div-background-beef {
  background: url(../../assets/images/retail-beef.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#div-background-pork-links {
  color: #F0F0F0;
  background: url(../../assets/images/retail-pork-links.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#div-background-pork-bulk {
  color: #F0F0F0;
  background: url(../../assets/images/retail-pork-bulk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

