.main-contact{
  flex: 1 0 auto;
  /* background-image: url("../../assets/images/agriculture-back-light.jpg") */
}

.main-contact hr {
  margin: 4px 0;
}

.main-contact section {
  width: 90%;
  max-width: 720px;
  margin: 40px auto;
}

.main-contact p {
  margin: 0;
  max-width: 720px;
  text-align: justify;
  font-size: 18px
}

.ul-contact {
  padding: 8px;
  width: 192px;
  background: #B5651D44;
  border: 1px #222222 solid;
  border-radius: 4px;
  list-style: none;
}

.ul-contact li {
  text-align: center
}

.li-underlined{
  text-decoration: underline
}

#div-business-hours {
 display: flex;
 flex-wrap: wrap;
 justify-content: center
}

#div-business-hours p {
  flex: 1;
  min-width: 288px;
  margin-right: 8px
 }

#div-business-hours ul {
  margin: 0 0 16px 8px;
  align-self: stretch;
  justify-self: center
 }

#div-map-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap
}

#div-map-info p {
  flex: 1;
  min-width: 288px;
  margin-right: 8px;
  align-self: auto
}

#div-map-info ul {
  margin: 0 0 16px 8px;
  justify-self: center
}

#div-map {
  height: 288px;
  max-width: 640px;
  margin: 16px auto;
  border-radius: 4px;
  border: 4px #222222 solid
}

#div-mailing-address {
  display: flex;
  flex-wrap: wrap
}

#div-mailing-address p {
  flex: 1
}

#div-mailing-address ul {
  margin: 0 0 16px 8px;
  align-self: stretch;
  justify-self: center
}

#div-social-media {
  display: flex;
  justify-content: flex-start
}

#div-social-media a {
  margin: 0;
  width: auto;
  display: inline-block;
  align-self: center
}

#div-social-media p {
  margin-left: 16px;
  align-self: center
}
