main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* React Router and Transition Group classes based on the className of 'fade' */
.fade-enter {
  opacity: 0.01
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 500ms ease-in
}

.fade-exit {
  opacity: 1
}

.fade-exit.fade-exit-active {
  opacity: 0.01
}