$stagecoach-brown: #9c593e;
$stagecoach-orange: #e59400;
$stagecoach-gray-dark: #dddddd;
$stagecoach-gray-light: #cccccc;
$stagecoach-tan: #d2bda9;
$stagecoach-white: #f0f0f0;
$stagecoach-yellow: #f6f6c3;
$stagecoach-gold: #ffd700;

$stagecoach-link: #444444;
$stagecoach-link-hover: #222222;