#app-header {

}

#app-title {
  font-size: 1.5em;
}
  
#app-intro {
  font-size: large
}

#app-title {
  padding: 24px;
  color: #F0F0F0;
  background: #FF4400;
  text-shadow: 4px 4px 16px #0F0F0F
}

#app-logo {
  animation: app-logo-spin infinite 8s linear;
  height: 80px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}