main {
  flex: 1 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #0F0F0F;
  overflow: hidden
}

.page-home {
  background-image: url("../assets/corn-field.jpg");
}

.page-products {
  background-image: url("../assets/agricultural-agriculture-animal.jpg")
}

.page-services {
  background-image: url("../assets/agriculture-animal-bull.jpg")
}

.page-about {

}
