main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0F0F0F;
  overflow: hidden
}

.div-page-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative
}
  
.video-background {
  margin: auto;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: -1
}

.image-background {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
