#app-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 24px;
  background: #BB3300
  }
  
  #app-nav ul {
    margin: 0 auto;
    list-style: none
  }
  
  #app-nav ul li {
    width: 4em;
    display: inline-block
  }

  @media screen and (max-width: 360px) {
    #app-nav {
      font-size: 0.75em
    }
  }