#div-page-wrapper-products {
  background-image: url(../assets/agricultural-agriculture-animal.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover
}
