#div-page-wrapper-about {
  
}

#div-page-wrapper-about section {
  margin: 32px
}

#div-page-wrapper-about p {
  width: 90%;
  max-width: 960px;
  padding: 16px;
  opacity: 0.75;
  color: #2F2F2F;
  background: azure;
  border-radius: 8px;
  text-align: justify;
  font-size: 20px
}
