.main-about {
  background-image: url("../assets/tassle.jpg")
}

.main-about section {
  max-width: 720px;
  padding: 40px;
  margin: 32px auto;
  color: #2F2F2F;
  background: azure;
  border-radius: 8px;
  opacity: 0.75;
}

.main-about p {
  font-size: 20px;
  margin: 16px auto;
  text-align: justify;
}
