#app-footer {
  padding: 12px;
  color: #F0F0F0;
  background: #9C593E;
  text-shadow: 1px 1px 2px #0F0F0F;
  text-align: center
}

#app-footer h5 {
  margin: 12px auto
}

#app-footer a:link,
#app-footer a:visited {
  color: #F0F0F0
}

#app-footer a:hover,
#app-footer a:active {

}
