.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center
}

a:link, a:visited {
  color: #F0F0F0;
  text-decoration: none;
  text-shadow: 2px 2px 8px #0F0F0F;
  transition: color 0.25s
}

a:hover, a:active {
  color: #FFCC00
}
