#app-header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto 24px;
  text-shadow: 4px 4px 16px #0F0F0F;
  background: #BB3300;
  color: #F0F0F0;
}
  
#app-logo {
  height: 80px;
  animation: app-logo-spin infinite 8s linear;
}

#app-title {
  flex: 1 0 auto;
  text-align: left;
  align-self: center
}

#app-stagecoach-info {
  display: flex;
  flex-direction: column;
  justify-self: right;
  align-items: center;
  padding: 0 8px
}

#app-stagecoach-info h5 {
  margin: 4px
}

#app-nav {
  grid-row: 2 / 3;
  grid-column:  2
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 480px) {
  #app-title {
    font-size: 1em
  }

  #app-stagecoach-info {
    font-size: 0.75em
  }
}