#app-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: #FF4400;
  padding: 12px
}
  
#app-nav ul {
  list-style: none
}

#app-nav ul li {
  margin: 2px;
  width: 112px;
  text-align: center;
  display: inline-block;
  background: goldenrod
}

#app-nav a:link,
#app-nav a:visited {
  width: 100%;
  margin: 0 auto;
  color: #F0F0F0;
  text-decoration: none;
  text-shadow: 2px 2px 8px #0F0F0F;
  display: inline-block;
  transition: color 0.25s
}

#app-nav a:hover,
#app-nav a:active {
  color: #FFCC00
}

.active {
  background: gold
}

@media screen and (max-width: 360px) {
  #app-nav {
    font-size: 0.75em
  }
}