#app-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: #FF4400;
  padding: 24px
  }
  
  #app-nav ul {
    margin: 0 auto;
    list-style: none
  }
  
  #app-nav ul li {
    margin: 4px;
    text-align: center;
    display: inline-block
  }

  #app-nav a {
    min-width: 72px;
    text-align: center
  }

  .active {
    background: darkred
  }

  @media screen and (max-width: 360px) {
    #app-nav {
      font-size: 0.75em
    }
  }