@import './components/app/App/App.module';
@import './components/app/AppHeader/AppHeader.module';
@import './components/app/AppNav/AppNav.module';
@import './components/app/AppMain/AppMain.module';
@import './components/app/AppFooter/AppFooter.module';

@import './components/pages/PageHome/PageHome.module';
@import './components/pages/PageProcessing/PageProcessing.module';
@import './components/pages/PageRetail/PageRetail.module';
@import './components/pages/PageFAQ/PageFAQ.module';
@import './components/pages/PageContact/PageContact.module';
@import './components/pages/PageAbout/PageAbout.module';
@import './components/pages/page404/Page404.module';

$stagecoach-brown: #9c593e;
$stagecoach-orange: #e59400;
$stagecoach-gray-dark: #dddddd;
$stagecoach-gray-light: #cccccc;
$stagecoach-tan: #d2bda9;
$stagecoach-white: #f0f0f0;
$stagecoach-yellow: #f6f6c3;
$stagecoach-gold: #ffd700;

$stagecoach-link: #444444;
$stagecoach-link-hover: #222222;

* {
  margin: 0;
  padding: 0
}
  
body {
  background: $stagecoach-gray-dark;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  // font-family: "Roboto", "Futura", "Avenir", Verdana, sans-serif;
  font-family: "Roboto", "Verdana", sans-serif
}
  
#react-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  