.div-cutsheet-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 8px auto;
  max-width: 720px
}

.div-cut-list-container {
  max-width: 240px;
  padding: 12px;
  border-radius: 8px;
  background-color: #B5651D44;
  box-shadow: 2px 2px 2px #BBBBBB
}

.div-cut-list-container hr {
  max-width: 240px;
}

.ul-cut-list {
  max-width: 288px;
  min-height: 160px;
  align-self: center;
  list-style: none
}

.svg-cutsheet {
  margin: 0 auto;
  display: inline-block
}

.path-beef-cut,
.path-pork-cut {
  fill: #BEA772
}
  
.path-beef-cut:hover,
.path-pork-cut:hover {
  fill: goldenrod
}

.path-beef-cut:active,
.path-pork-cut:active  {
  fill: gold
}

@media screen and (max-width: 360px) {
  .div-cutsheet-container {
    flex-direction: column
  }

  .svg-cutsheet {
    height: 240px;
  }
}